h4{


/*font-family: acumin-pro-semi-condensed, sans-serif;*/

font-weight: 900;

font-style: normal
}

p{
	font-weight: 700;
	font-style: normal
}

html{
	background: black
}

.landing_image{
	  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}